/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
  background-color: #F5F2EC;
}

/* Basic styles */
body {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none; /* Remove sublinhado padrão */
  color: inherit; /* Herda a cor do texto do elemento pai */
  cursor: pointer; 
}

/*---------------- header ----------------*/
header {
  position: fixed; /* torna o cabeçalho fixo */
  top: 0; /* fixa o cabeçalho no topo */
  z-index: 1000; /* garante que o cabeçalho esteja acima de outros elementos */
  color: #004AAD;
  margin: 3% 10%;  
}

nav {
    display: flex;
    border-radius: 10px;
    width: 80vw;
    justify-content: space-between;
    flex-wrap: wrap;
} 

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 35px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
}

/*---------------- fim header ----------------*/

/*---------------- home ----------------*/
#home {
  letter-spacing: 0;
  line-height: 1;
  margin-top: 100px;
}
#home p {
  margin: 0;
  padding: 0;
  color: #0A3268;
}

#home h1 {
  color: #004AAD;
  font-size: 12vh;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

#home button {
  margin-top: 30px;
  padding: 10px 30px; 
  text-decoration: none;
  border-style: none;
  background-color: #004AAD;
  color: white;
  border-radius: 15px;
  margin-bottom: 5%;
}

#home button a {
  text-decoration: none;
  border-style: none;
  background-color: #004AAD;
  color: white;
}

#home h5 {
  font-weight: 600;
  color: #0A3268;
  font-size: 1.2rem;
  margin: 2% 0;
}


/*---------------- fim home ----------------*/

main {
  padding-top: 100px;
  padding: 5% 10%;
  flex: 1;
}

main p {
  color: #ABCDED;
}

section {
  margin-bottom: 40px;
  color:white;
}

section .about {
   padding: 50px 0;
  height: 800px;
  padding-top: 100px;
  padding-right: 10%;
  padding-left: 10%;
  flex: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}


section .about img {
  margin-top: 30px;
}

section .about button {
    margin-top: 10px;
    padding: 15px 100px;
    background-color: #ffffff14;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 500;
   
}

.btn {
border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.3s ease; 
  display: inline-block; 
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cor de fundo escura no hover */
  }

footer {
  background-color: #fff;
  color: black;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  header {
    position:absolute; /* torna o cabeçalho fixo */
    z-index: 1000; /* garante que o cabeçalho esteja acima de outros elementos */
  }
  nav ul {
    flex-direction: column;
    color: white;
    font-weight: 800;
  } 

  nav ul li a {
    color: white;
    font-weight: 800;
  }
  section .about  {
    align-items: center;
    
  }
  section .about img {
    display: none;
  }

  .btn {
    display: none;
  }
}
